<div class="habitweek m-5 is-size-5 is-mobile" data-habit-id="{{id}}">
            <div class="columns block is-align-items-center has-background-info-light">
                <div class="column habit is-one-third">
                    <p>{{description}}</p>
                </div>
                <div class="column has-background-grey-light is-clickable day1 date-box"></div>
                <div class="column has-background-grey-light is-clickable day2 date-box"></div>
                <div class="column has-background-grey-light is-clickable day3 date-box"></div>
                <div class="column has-background-grey-light is-clickable day4 date-box"></div>
                <div class="column has-background-grey-light is-clickable day5 date-box"></div>
                <div class="column has-background-grey-light is-clickable day6 date-box"></div>
                <div class="column has-background-grey-light is-clickable day7 date-box"></div>
            </div>
        </div>
    </div>
</div>