<article>
  <div class="habitweek mx-5 my-6 is-size-6 has-shadow is-mobile">
    <div class="columns is-multiline is-mobile rounded has-shadow has-background-info-light"style="outline:solid;">
      <div class="column is-flex is-justify-content-space-between is-align-items-center flex-direction-row has-text-centered habit is-one-third">
        <p class="is-size-6-mobile">{{description}}</p>
        <i class="deleteBtn p-2 is-size-5 fa-solid fa-trash-can has-text-danger is-clickable" data-habit-id="{{id}}"></i>
      </div>
      <div class="column has-background-grey-light is-clickable day1 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day2 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day3 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day4 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day5 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day6 date-box" style="outline:solid;"></div>
      <div class="column has-background-grey-light is-clickable day7 date-box" style="border-left:solid;"></div>
    </div>
  </div>
</article>

<script src="/js/deleteHabit.js"></script>