    <div class="habitweek is-size-3 is-mobile is-family-sans-serif" data-habit-id="{{id}}">
                <div class="columns is-align-items-center has-background-primary-light">
                    <div class="column habit is-one-third">
                    <div class="icon-text icon-habit">
                        <span class="icon has-text-info has-text">
                          <i class="fa-solid fa-droplet"></i>
                        </span>
                        <span>{{description}}</span>
                      </div>
                      </div>
                    <div class="column day1 date-box">
                        
                    </div>
                    <div class="column day2 date-box">
                        
                    </div>
                    <div class="column day3 date-box">
                       
                    </div>
                    <div class="column day4 date-box">
                        
                    </div>
                    <div class="column day5 date-box">
                        
                    </div>
                    <div class="column day6 date-box">
                        
                    </div>
                    <div class="column day7 date-box">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>