    <div class="habitweek box is-size-3 is-mobile is-family-sans-serif flex">
                <div class="columns is-align-items-center has-background-primary-light">
                    <div class="column habit is-one-third">
                    <div class="icon-text icon-habit">
                        <span class="icon has-text-info has-text">
                          <i class="fa-solid fa-droplet"></i>
                        </span>
                        <span>{{description}}</span>
                      </div>
                      </div>
                    <div class="column day1 has-background-primary">
                        S
                    </div>
                    <div class="column day2">
                        M
                    </div>
                    <div class="column day3 has-background-primary">
                       T
                    </div>
                    <div class="column day4">
                        W
                    </div>
                    <div class="column day5 has-background-primary">
                        Th
                    </div>
                    <div class="column day6">
                        F
                    </div>
                    <div class="column day7">
                        S
                    </div>
                </div>
            </div>
        </div>
    </div>