<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" src="images/happy.png">
    <title>habitual | Habit Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/8de237b755.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div
            class="m-5 is-flex flex-direction-row is-align-items-center is-justify-content-space-between is-align-content-center">
            <h2 class="is-size-2">habitual</h2>
            <button class="button is-size-5"><a href="/login">Login</a><i class="fa-regular fa-circle-user pl-2"></i></button>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="has-text-centered">
            <p>Copyright &copy 2022 habitual. All Rights Reserved</p>
            <i class="fa-regular fa-folders"></i>
        </div>
    </footer>
</body>

</html>