{{#if user_habits.length}}
<div class="habitweek mx-3 my-3 p-2 is-mobile is-family-sans-serif" data-habit-id="{{id}}">
  <div
    class="columns block is-multiline is-mobile is-align-items-center has-shadow rounded has-text-centered has-background-info-light">
    <div class="column habit is-one-quarter">
      <div class="icon-text icon-habit">

        <span class="is-size-5-mobile">Your Habits</span>
      </div>
    </div>
    <div class="column day1">
      S
    </div>
    <div class="column day2">
      M
    </div>
    <div class="column day3">
      T
    </div>
    <div class="column day4">
      W
    </div>
    <div class="column day5">
      Th
    </div>
    <div class="column day6">
      F
    </div>
    <div class="column day7">
      S
    </div>
  </div>
</div>
</div>
</div>
{{#each user_habits as |habit|}}
<article>
  {{> weekdisplay habit}}
</article>
{{/each}}
{{else}}
<section class="column has-text-centered">
  <img class="image mx-auto" src="images/healthy-lifestyle.png" alt="" />
  <h3 class="is-size-4">Add a new habit below to begin!</h3>
  <i class="my-5 fa-solid fa-arrow-down-long is-size-3"></i>
</section>
{{/if}}

<div class="modal has-shadow addHabit center">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New habit</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form class="new-habit-form">
        <div class="enter-habit">
          <p class="is-size-4 mb-5">Enter your habit below.</p>
          <input class="input is-medium mb-5" id="new-habit" type="text" placeholder="Today I will..." required />
          <p class="is-size-4 mb-5" for="">Select a habit category.</p>
        </div>
        <div class="category-select select is-medium">
          <select name="habit-category" id="habitCategory">
            <option value="">N/A</option>
            <option value="mental">Mental</option>
            <option value="physical">Physical</option>
            <option value="productivity"> Productivity</option>
          </select>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info saveHabit">Save</button>
      <button class="button">Cancel</button>
      <p class="confirm hidden is-size-5"></p>
    </footer>
  </div>
</div>
<nav class="has-text-centered is-flex flex-direction-row is-justify-content-space-between is-align-items-center">
  <div class="column">
    <i class="is-clickable homeBtn fa-solid fa-house-user is-size-3"></i>
    <p class="has-text-weight-bold">Home</p>
  </div>
  <i class="addBtn is-clickable has-text-info column fa-solid fa-circle-plus is-size-1 mb-6"></i>
  <div class="column">
    <i class="is-clickable historyBtn fa-solid fa-book is-size-3"></i>
    <p class="has-text-weight-bold">History</p>
  </div>
</nav>
<div class="modal has-shadow deleteHabit center">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete habit</p>
      <button class="delete close-delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p class="is-size-5">Are you sure you'd like to delete this habit?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger saveHabit">Delete</button>
      <button class="button cancelBtn">Cancel</button>
      <p class="confirm hidden is-size-5"></p>
    </footer>
  </div>
</div>
<script src="/js/new-habit.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/toggle-date.js"></script>
<script src="/js/assignDates.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/weekdisplay.js"></script>
