<section class="column has-text-centered">
    <img class="image mx-auto" src="images/healthy-lifestyle.png" alt="">
    <h3 class="is-size-4">Add a new habit below to begin!</h3>
    <i class="my-5 fa-solid fa-arrow-down-long is-size-3"></i>
</section>
<nav class="has-text-centered is-flex flex-direction-row is-justify-content-space-between is-align-items-center">
    <div class="column">
        <i class="is-clickable homeBtn fa-solid fa-house-user is-size-3"></i>
        <p class="has-text-weight-bold">Home</p>
    </div>
    <i class="addBtn is-clickable has-text-info column fa-solid fa-circle-plus is-size-1 mb-6"></i>
    <div class="column">
        <i class="is-clickable historyBtn fa-solid fa-book is-size-3"></i>
        <p class="has-text-weight-bold">History</p>
    </div>
</nav>