{{#if user_habits.length}}
<div class="habitweek has-text-centered has-text-light my-6 m-5 is-size-5 has-shadow is-size-7-mobile" data-habit-id="{{id}}">
    <div class="columns my-1 is-multiline is-mobile rounded has-background-info" style="outline:solid; outline-color:hsl(204, 71%, 39%);">
    <div class="column is-flex is-justify-content-space-between is-align-items-center flex-direction-row has-text-centered habit is-one-third">
        <p class="is-size-6-mobile">Your Habits</p>
    </div>
    <div class="column day1" style="outline:solid; outline-color: hsl(204, 71%, 39%);">
      S 
    </div>
    <div class="column day2" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      M
    </div>
    <div class="column day3" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      T
    </div>
    <div class="column day4" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      W
    </div>
    <div class="column day5" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      Th
    </div>
    <div class="column day6" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      F
    </div>
    <div class="column day7" style="border-left:solid; border-color: hsl(204, 71%, 39%);">
      S
    </div>
  </div>
  </div>
{{#each user_habits as |habit|}}
  {{> weekdisplay habit}}
{{/each}}
{{else}}
<section class="column has-text-centered">
  <img class="image mx-auto img-responsive" src="/images/healthy-lifestyle.png" alt="" />
  <h3 class="is-size-4">Add a new habit below to begin!</h3>
  <i class="my-5 fa-solid fa-arrow-down-long is-size-3"></i>
</section>
{{/if}}

<div class="modal has-shadow rounded addHabit center">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New habit</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form class="new-habit-form">
        <div class="enter-habit">
          <p class="is-size-4 mb-5">Enter your habit below.</p>
          <input class="input is-medium mb-5" id="new-habit" type="text" placeholder="Today I will..." required />
          <p class="is-size-4 mb-5" for="">Select a habit category.</p>
        </div>
        <div class="category-select select is-medium">
          <select name="habit-category" id="habitCategory">
            <option value="mental">Mental</option>
            <option value="physical">Physical</option>
            <option value="productivity"> Productivity</option>
            <option value="">N/A</option>
          </select>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info saveHabit">Save</button>
      <button class="button">Cancel</button>
      <p class="confirm hidden is-size-5"></p>
    </footer>
  </div>
</div>
<nav class="has-text-centered nav-bar is-flex flex-direction-row is-justify-content-space-between is-align-items-space-evenly">
  <div class="column">
    <a class="has-text-dark" href="/dashboard">
      <i class="is-clickable homeBtn fa-solid fa-house-user is-size-3"></i>
      <p class="has-text-weight-bold">Home</p>
    </a>
  </div>
  <i class="addBtn is-clickable has-text-info column fa-solid fa-circle-plus is-size-1 mb-6"></i>
  <div class="column">
    <a class="has-text-dark" href="/settings">
      <i class="fa-solid spin fa-gear is-clickable settingsBtn is-size-3"></i>
      <p class="has-text-weight-bold">Settings</p>
    </a>
  </div>
</nav>
<script src="/js/new-habit.js"></script>
<script src="/js/dashboard.js"></script>
{{!-- <script src="/js/toggle-date.js"></script> --}}
<script src="/js/assignDates.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/dateStorage.js"></script>
<script src="/js/colorDates.js"></script>
