<div class="my-6 container mx-auto is-flex flex-direction-row is-align-items-center is-justify-content-center has-text-centered">
    <img src="images/healthy-lifestyle.png" alt="">
    <h3 class="is-size-4 w-50">habitual is a personilzed daily habit tracker designed with simplicity in mind.
        Register now to begin the journey to a better you!</h3>
</div>