<div class="homepage my-6 container is-mobile mx-auto is-flex flex-direction-row is-align-items-center is-justify-content-center has-text-justified">
    <img src="images/healthy-lifestyle.png" class="img-responsive" alt="">
    <h3 class="m-5 mx-5 is-size-4 w-50 is-size-6-mobile">
        <span>habitual is a personalized daily habit tracker designed with simplicity in mind.</span>
        <span>Register now to begin the journey to a better you!</span>
    </h3>
</div>