<div class="mx-5 mt-6 mb-5">
    <div>
        <h1 class="is-size-4 has-text-weight-bold">Account Settings</h1>
    </div>
</div>
<p class="is-size-5 mx-5 is-inline delete-acc is-clickable" data-user-id="{{userID}}">Delete my account.</p>
<nav class="nav-bar has-text-centered is-flex flex-direction-row is-justify-content-space-between is-align-items-space-evenly">
  <div class="column">
    <a class="has-text-dark" href="/dashboard">
      <i class="is-clickable homeBtn fa-solid fa-house-user is-size-3"></i>
      <p class="has-text-weight-bold">Home</p>
    </a>
  </div>
  <i class="is-clickable has-text-grey column fa-solid fa-circle-plus is-size-1 mb-6"></i>
  <div class="column">
    <a class="has-text-dark" href="/settings">
      <i class="fa-solid spin fa-gear is-clickable settingsBtn is-size-3"></i>
      <p class="has-text-weight-bold">Settings</p>
    </a>
  </div>
</nav>
<script src="/js/deleteAccount.js"></script>