<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habitual | Habit Tracker</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/b1575a7835.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>



<body>
    <div class="habitweek box is-size-3 is-mobile is-family-sans-serif">
                <div class="columns is-align-items-center has-background-primary-light">
                    <div class="column habit is-one-third">
                    <div class="icon-text icon-habit">
                        <span class="icon has-text-info has-text">
                          <i class="fa-solid fa-droplet"></i>
                        </span>
                        <span>Drink Water</span>
                      </div>
                      </div>
                    <div class="column day1 has-background-primary">
                        S
                    </div>
                    <div class="column day2">
                        M
                    </div>
                    <div class="column day3 has-background-primary">
                       
                    </div>
                    <div class="column day4">
                        W
                    </div>
                    <div class="column day5 has-background-primary">
                        Th
                    </div>
                    <div class="column day6">
                        F
                    </div>
                    <div class="column day7">
                        S
                    </div>
                </div>
            </div>
        </div>
    </div>







        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="./assets/js/script.js"></script>
</body>

</html>