* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 2.5rem;
}

.nav-bar {
  /* position: absolute;
  bottom: 2rem; */
  width: 100%;
}

.addBtn:hover {
  transform: scale(1.15);
  transition: 0.3s;
}

.addHabit {
  z-index: 9999 !important;
}

.deleteBtn:hover {
  transform: scale(1.15);
}

.settingsBtn:hover {
  transform: scale(1.15);
  transition: 0.3s;
}

.homeBtn:hover {
  transform: scale(1.15);
  transition: 0.3s;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.box {
  width: 75vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.date-box:hover {
  border: 1px solid hsl(0, 0%, 48%) !important;
}

.rounded {
  border-radius: 10px !important;
}

.has-shadow {
  box-shadow: 0 0 10px grey !important;
}

.delete-acc:hover {
  color: hsl(348, 100%, 61%) !important;
}

.img-bg {
  opacity: 50%;
  z-index: -1 !important;
}
.spin:hover {
  animation: spin-animation 5s infinite;
  animation-timing-function: linear;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575px) {
  .img-responsive {
    height: 256px !important;
    width: 256px !important;
  }
  .homepage {
    flex-wrap: wrap !important;
  }
}

.jessica {
  border: 0px;
}
